<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <h2>Upcoming Service Projects</h2>

        <% if (projects && projects.length> 0) { %>
            <ul>
                <% projects.forEach(project=> { %>
                    <li>
                        <% const formattedDate=new Date(project.date).toLocaleDateString('en-US', { year: 'numeric' ,
                            month: 'long' , day: 'numeric' }); %>

                            <strong>
                                <%= formattedDate %>:
                                    <%= project.title %>
                                        (<%= project.organization_name %>)
                            </strong>
                    </li>
                    <% }) %>
            </ul>
            <% } else { %>
                <p>No projects available.</p>
                <% } %>
    </main>

    <%- include('partials/footer') %>
        